*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #6E4555;
  color: #fff;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  list-style-type: none;
}

nav a {
  color: #E8B4BC;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
}

main {
  display: flex;
  justify-content: center;
}

main h2{
  text-align: center;
}

main p {
  text-align: center;
}

section {
  border: dotted #D282A6;
  margin: 10px;
  padding: 10px;
}

.about-me {
  max-width: 550px;
  flex-wrap: wrap;
}

.my-pic {
  padding: 10px 10px;
  width: 400px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}