*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #6E4555;
  color: #fff;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  list-style-type: none;
}

nav a {
  color: #E8B4BC;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
}